body {
  text-align: center;
  display: block;
  background-color: lightblue;
  font-family: Helvetica;
}

label, input {
  margin-bottom: 2em;
}

h2 {
  font-size: 16px;
  font-family: Cambria;
}

#form {
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  border: 3px solid gold;
  box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.26);
  border-radius: 15%;
}

ul {
  list-style: none;
}

label {
  padding-right: 1em;
}