$color-primary: darkSalmon;
$color-secondary: darkSlateGray;
$color-tertiary: cornSilk;
$spacing: 1em;

* {
  box-sizing: border-box;
  max-width: 100%;
}

body {
  color: $color-secondary;
  background-color: $color-primary;
  font-size: 1em;
  font-family: Helvetica;
  margin-left: 40px;
}

h2 {
  list-style: none;
  font-size: 15px;
}

img {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

img:hover {
  background-color: cornsilk;
}

a, a:visited {
  text-decoration: none;
  color: $color-secondary;
}

a:hover {
  color: $color-primary;
}


button, input {
  background-color: $color-tertiary;
  border: none;
  color: $color-primary;
  text-align: center;
  padding: 10px 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

button:hover {
  color: $color-tertiary;
  background-color: $color-secondary;
}

.sub-reddit {
  list-style-type: none;
  padding: $spacing;
  margin: $spacing;
  border: 2px solid black;
  background-color: $color-tertiary;
  border-radius: 10px;
}

.error {
  border: 2px solid red;
}
