body {
    background-color:rgb(47, 109, 202);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1{
    color:rgb(220, 227, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
label{
    color:rgb(229, 238, 222);
}
a, a:visited {
    text-decoration: none;
    color:white;
    
  }
li{
    color:rgb(73, 255, 170);
}